body {
    overflow-y: hidden;
    padding: 0em;
}

div#map_canvas {
    width: 100%;
    height: 500px;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

div#tabs {
    height: 13em;
    padding: 0em;
    border: 0;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

div#tabs div {
    padding: 0em;
}

div#tabs form {
    padding: 0.5em;
    background-color: rgb(200,200,200);
    color: black;
}

div#tabs form table {
}

div#tabs form table tr th {
    background-color: rgb(230,230,230);
    font-weight: normal;
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

div#tabs form table tr td {
    background-color: rgb(140,140,140);
    color: white;
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div#tabs form table tr td input[type="text"] {
    width: 5em;
}

div.tab {
    overflow-y: scroll;
    height: 13em;
}

ul#markers {
    padding: 0px;
    margin: 0px;
}

ul#markers label {
    cursor: pointer;
}

ul#markers li {
    list-style-type: none;
    cursor: pointer;
}

ul#markers li.collapsable {
}

ul#markers li.expanded {
}

img#marker {
    position: absolute;
    top: 3.5em;
    right: 3em;
}

input#new-marker-name {
    position: absolute;
    top: 3.5em;
    right: 5em;
    width: 10em;
}

div#grids-tab ul {
    list-style-type: none;
}

div#grids-tab ul li span.grid-name {
    font-weight: bold;
    margin-right: 1em;
}

div#grids-tab ul#grids {
    padding: 0em;
}

div#tabs form table#submit-fields tr td input[type="text"] {
    width: 25em;
}

div#tabs form table#submit-fields tr td textarea {
    width: 25em;
    height: 5em;
}

div#jobs-tab {
    background-color: rgb(200,200,200);
    color: black;
}

div#jobs-tab table {
    background-color: rgb(240,240,240);
    margin-left: 1em;
    width: 95%;
}

div#jobs-tab table tr th {
    background-color: rgb(140,140,140);
    color: white;
    text-align: left;
    padding-left: 1em;
}

div#jobs-tab table tr th.job-status-row {
    background-color: rgb(160,120,110);
}

div#jobs-tab table tr td {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(200,200,200);
    padding-left: 1em;
    padding-right: 1em;
}

div#jobs-tab table tr td input {
    float: right;
}

div#admin-tab {
    background-color: rgb(200,200,200);
    color: black;
}
