body {
    overflow-y: hidden;
    padding: 0em;
}

div#map_canvas {
    width: 100%;
    height: 500px;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

div#tabs div {
    padding: 0em;
}

form#deformation_form {
    background-color: rgb(200,200,200);
    padding: 0.5em;
    color: black;
}

form#deformation_form table {
}

form#deformation_form table tr th {
    background-color: rgb(230,230,230);
    font-weight: normal;
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

form#deformation_form table tr td {
    background-color: rgb(140,140,140);
    color: white;
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

form#deformation_form table tr td input[type="text"] {
    width: 5em;
}
