form#deformation_form {
    background-color: rgb(200,200,200);
    padding: 0.5em;
    color: black;
}

form#deformation_form table tr th {
    background-color: rgb(230,230,230);
    width: 15em;
}

form#deformation_form table tr td {
    background-color: rgb(170,170,170);
}

div#map_canvas {
    width: 100%;
    height: 500px;
}
