<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>
        {% block title %}
            Alaska Tsunami Inundation Mapping Project
        {% endblock %}
    </title>
    <link
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
        rel="stylesheet"
        type="text/css"
    >
    <link rel="stylesheet" type="text/css" href="/css/tsunami.css">
    <script
        type="text/javascript"
        src="http://www.google.com/jsapi?key=ABQIAAAAG07sBB-qC9yaNXELGJpf5BRrbJnNmETF966luGlbSTr_RfkmQBR_r9lzzhGueAMWoH_XbKNIdXA-uw"
    ></script>
    <script
        type="text/javascript"
        src="/js/load.js"
    ></script>
    <script
        type="text/javascript"
        src="http://burn.giseis.alaska.edu/scripts/list_Cordova.js"
    ></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
