<form action="/create_scenario" method="post" id="deformation">
    <table>
        <tr>
            <th>
                <label for="deformations">Deformation Model</label>
            </th>
            <td>
                <select name"deformations">
                    {% for name in deformations %}
                        <option value="{{ name | e }}">{{ name | e }}</option> 
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="submit">
            </td>
        </tr>
    </table>
</form>
