<script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    type="text/javascript"
></script>
<script
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    type="text/javascript"
></script>
<script
    type="text/javascript"
    src="http://www.google.com/jsapi?key=ABQIAAAAG07sBB-qC9yaNXELGJpf5BRrbJnNmETF966luGlbSTr_RfkmQBR_r9lzzhGueAMWoH_XbKNIdXA-uw"
></script>
<script type="text/javascript" src="/js/jquery.checktree.js"></script>
<script type="text/javascript" src="/js/hash.js"></script>
<script type="text/javascript">
    // pivot on the name keys of these lists of hashes
    function pivot (rows) {
        var hash = new Hash;
        for (var i in rows) {
            var row = rows[i];
            hash.set(row.name, new Hash(row));
        }
        return hash;
    }
    
    var deformations = pivot({{ json.deformations }});
    var markers = pivot({{ json.markers }});
    var groups = pivot({{ json.groups }});
    var grids = pivot({{ json.grids }});
    var points = pivot({{ json.points }});
</script>
<script type="text/javascript" src="/js/load.js"></script>
