<div id="tabs">
    <ul id="tabs-bar">
        <li><a href="#deformation-tab">deformation</a></li>
        <li><a href="#constants-tab">constants</a></li>
        <li><a href="#markers-tab">markers</a></li>
        <li><a href="#grids-tab">grids</a></li>
        <li><a href="#submit-tab">submit</a></li>
    </ul>
    <form action="/create_scenario" method="post">
        <div id="deformation-tab">
            {% include "tabs/deformation.html" %}
        </div>
        
        <div id="constants-tab">
            {% include "tabs/constants.html" %}
        </div>
        
        <div id="markers-tab">
            {% include "tabs/markers.html" %}
        </div>
        
        <div id="grids-tab">
            {% include "tabs/grids.html" %}
        </div>
        
        <div id="submit-tab">
            {% include "tabs/submit.html" %}
        </div>
    </form>
</div>
