<div id="tabs">
    <ul>
        <li><a href="#tab-1">deformation</a></li>
        <li><a href="#tab-2">markers</a></li>
        <li><a href="#tab-3">grids</a></li>
        <li><a href="#tab-4">submit</a></li>
    </ul>
    <div id="tab-1">
        {% include "tabs/deformation.html" %}
    </div>
    
    <div id="tab-2">
        {% include "tabs/markers.html" %}
    </div>
    
    <div id="tab-3">
        {% include "tabs/grid.html" %}
    </div>
    
    <div id="tab-4">
        {% include "tabs/submit.html" %}
    </div>
</div>
