<div id="tabs">
    <ul id="tabs-bar">
        <li><a href="#params-tab">params</a></li>
        <li><a href="#constants-tab">constants</a></li>
        <li><a href="#markers-tab">markers</a></li>
        <li><a href="#grids-tab">grids</a></li>
        <li><a href="#submit-tab">submit</a></li>
        <li><a href="#jobs-tab">jobs</a></li>
        <li><a href="#admin-tab">admin</a></li>
    </ul>
    <form id="params-form" action="/submit-job" method="post" onsubmit='
         var params = $(this).serializeArray().reduce(function (acc,x) {
            acc[x.name] = x.value;
            return acc;
        }, {})
        var status = $("<td>");
        status.load(
            "/submit-job",
            params,
            function (data) {
                $("tr#submit-row").append(status.html(data));
                setTimeout(function () {
                    // disappear after 10 seconds
                    status.remove();
                }, 10000);
            }
        );
        return false;
    '>
        <div id="params-tab" class="tab">
            {% include "tabs/params.html" %}
        </div>
        
        <div id="constants-tab" class="tab">
            {% include "tabs/constants.html" %}
        </div>
        
        <div id="markers-tab" class="tab">
            {% include "tabs/markers.html" %}
        </div>
        
        <div id="grids-tab" class="tab">
            {% include "tabs/grids.html" %}
        </div>
        
        <div id="submit-tab" class="tab">
            {% include "tabs/submit.html" %}
        </div>
    </form>
    <div id="jobs-tab" class="tab">
        {% include "tabs/jobs.html" %}
    </div>
    <div id="admin-tab" class="tab">
        {% include "tabs/admin.html" %}
    </div>
</div>
