<table>
    <tr>
        <th>
            <label for="earth_radius">Earth Radius</label>
        </th>
        <td>
            <input type="text" name="earth_radius" value="6.371e+6">
            meters
        </td>
    </tr>
    <tr>
        <th>
            <label for="earth_gravity">Earth Gravity</label>
        </th>
        <td>
            <input type="text" name="earth_gravity" value="9.8062">
            m/s<sup>2</sup>
        </td>
    </tr>
    <tr>
        <th>
            <label for="earth_rotation">Earth Rotation</label>
        </th>
        <td>
            <input type="text" name="earth_rotation" value="7.2920e-5">
            Hz
        </td>
    </tr>
</table>
