<table>
    <tr>
        <th>
            <label for="modeling_time">Modeling Time</label>
        </th>
        <td>
            <input type="text" name="modeling_time" value="1.0">
            hours
        </td>
        <th>
            <label for="deformations">Deformation Model</label>
        </th>
        <td>
            <select name"deformations" id="deformations">
                <option value=""></option>
            </select>
        </td>
    </tr>
    <tr>
        <th>
            <label for="time_step">Time Step</label>
        </th>
        <td>
            <input type="text" name="time_step" value="1.0">
            seconds
        </td>
        <th>
            <label for="bottom_friction">Bottom Friction</label>
        </th>
        <td>
            <input type="text" name="bottom_friction" value="0.03">
        </td>
    </tr>
    <tr>
        <th>
            <label for="output_step">Output Step</label>
        </th>
        <td>
            <input type="text" name="output_step" value="300.0">
            seconds
        </td>
        <th>
            <label for="sea_level">Sea Level</label>
        </th>
        <td>
            <input type="text" name="sea_level" value="0.0">
            meters
            <br />
            <select name="pre_post">
                <option value="pre">pre-earthquake</option>
                <option value="post">post-earthquake</option>
            </select>
        </td>
    </tr>
</table>
